{% extends "base1.html" %}
{% load static %}
{% load humanize %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'css/post_edit.css' %}">
{% endblock %}

{% block contents%}
<div class="form-container">
    <div class="form-card">
        <div class="row mt-5">
            <div class="col-12 text-center">
                <h1>글수정</h1>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <form method="POST" action=".">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br/>
                    <div>
                        <button type="submit" class="save btn btn-custom">수정하기</button>
                        <button type="button" class="return btn btn-custom2" onclick="location.href='/imgboard1/'">돌아가기</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock%}