{% extends 'base.html' %}
{% load static %}
{% block header %}
<script>
    function product_detail(id){
        $.ajax({
            url:"/api/product/"+id, 
            success : function(result){
                $("#product-"+id).popover({
                    html:true, 
                    content: result.company + "<br/>" +result.std+"<br/>" +result.dsc //상품 중 이름+가격 가져와서 popover 로 가져옴
                }).popover('show');
            }// success
        }) // ajax
    
    }//product_detail
    
    function product_leave(id){
        $("#product-"+id).popover("hide");        
    }
    //사용자가 상품 요소에서 벗어났을 때 popover 숨기기
    $(document).ready(function(){});
</script>

{% endblock%}
{% block contents %}
<link rel="stylesheet" type="text/css" href="{% static '/css/index.css' %}">
    <div class="container">
        
        <div class="row">
            <div class="col-6 mx-auto text-center mt-5">
                <form method="POST" id="autoform">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" list="tals" placeholder="전통주 검색하기" class="form-control" name="search_query" id="search_query" autocomplete="off"> 
                        <input type="submit" value="검색">
                    </div>
                    <datalist id="tals">
                        {% for tal in tals %}
                            <option value="{{tal.name}}" style="font-size: 20px;"></option>
                        {% endfor %}
                    </datalist>
                </form>
                
                {% if form.errors %}
                    <span style="color: red">{{ form.errors.name|join:" " }}</span>
                {% endif %}

                {% if tal_search %}
                    <ul>
                        {% for tal in tal_search %}
                            <ul class="list-group list-group-flush">
                                <a href="detail/{{ tal.id }}"><li class="list-group-item" id="product-{{tal.id}}" onmouseenter="product_detail({{tal.id}});" onmouseleave="product_leave({{tal.id}});">{{ tal.name }}</li></a>
                            </ul>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        <div class="carousel-container">
            <img class="carousel-image active" src="{% static '/photo1.png'%}" >
            <img class="carousel-image" src="{% static '/photo2.png'%}" >             
        </div>
        
        <div class="container">            
            <div class="row">
                {% for best in best5 %}
                <div class="col-md-3">
                    <div class="card" style="margin: 10px;">
                        <a href="detail/{{ best.id }}"><img src="{{ best.img }}" class="card-img-top" alt="{{ best.name }}" style="max-width: 100%; height: 150px; object-fit: contain;"></a>
                        <div class="card-body">
                            <a href="detail/{{ best.id }}"><p class="card-text" style="text-align: center;">{{ forloop.counter }}. {{ best.name }}</p></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/static/carousel.js"> </script>
{% endblock %}