{% extends "base1.html" %}

{% load static %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'css/detail_common.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/detail_layout.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/detail_respond.css' %}">
{% endblock%}
{% block contents %}

<style>
  <style type="text/css">.fancybox-margin{margin-right:0px;}</style><meta http-equiv="origin-trial" content="AymqwRC7u88Y4JPvfIF2F37QKylC04248hLCdJAsh8xgOfe/dVJPV3XS3wLFca1ZMVOtnBfVjaCMTVudWM//5g4AAAB7eyJvcmlnaW4iOiJodHRwczovL3d3dy5nb29nbGV0YWdtYW5hZ2VyLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjk1MTY3OTk5LCJpc1RoaXJkUGFydHkiOnRydWV9">
  </style>

  <body>
<div id="content">
  <div class="inner">
    <h2 class="title">자세히 알아보기</h2>
    
      

<div class="tab-content">
<div id="tab1">
  
<div class="product-list">
			
			
  <ul>
  
    
  
    <li class="item">
      <div class="thumb">
        <div class="img">
          <span>
            <img src="{{tal_detail.img}}" alt="">
          </span>
        </div>
        
      </div>
      
      <dl class="detail">
        <dt>
          <div class="title-area">
          
            <div class="name" onclick="">{{ tal_detail.name }}</div>
          </div>
          
          <div class="label-list">
            <ul>
              <!-- 현재 전체 좋아요 합 -->
                <li>❤️ {{tal_detail.like}}</li>
                <!-- 클립보드 주소 복사 -->
                <button type="button" class="btn btn-success" id="copyButton" value="{{page_path}}">📋</button>
           
            
            <li class="list-group-item">
                <!-- 즐겨찾기용 부분 -->
                <form action="/favorite/create" method="POST">
                    {% csrf_token %}                    
                    {% for field in form %}
                    <div class="form-group">
                        <input type="{{ field.field.widget.input_type }}" class="form-control" 
                        id="{{ field.id_for_label }}"  placeholder="{{ field.label }}" name="{{ field.name }}" 
                        value="{% if field.name == 'like' %}{{ '1' }}{% else %}{{tal_detail.id}}{% endif %}"/> 
                    </div>                       
                        {% if field.errors %}
                        <span style="color: red">{{ field.errors }}</span>
                        {% endif %}
                    
                    {% endfor %}                    
                    {% if search.like == 1 %}
                    <button type="submit" class="btn btn-warning">💔</button>
                    {% else %}
                    <button type="submit" class="btn btn-primary">❤️</button>
                    {% endif %}

                    
                </form>
                <!-- 즐겨찾기용 부분 끝-->
                
              </li>
           
    </li>
              
            </ul>
          </div>
        </dt>


        <dd>
          <ul>
            <li>
              <div class="subject">제조사</div>
              <div class="info">{{ tal_detail.company }}</div>
            </li>
            <li>
              <div class="subject">주원료</div>
              <div class="info"> {{ tal_detail.mtrl }}</div>
            </li>
            <li>
              <div class="subject">용량/도수</div>
              <div class="info">  {{ tal_detail.std }} </div>
            </li>
            <li>
              <div class="subject">제품특징</div>
              <div class="info no-line">
                <span class="el-3line">
                  {{ tal_detail.dsc }}
                </span>
              </div>
            </li>
          </ul>
        </dd>
      </dl>
    </li>
  

  </ul>
  
</div>

<div class="aside" style="top: 100px; margin-left: -50px;">
  <ul>
      <li>
          {{ graph_html | safe }} 
      </li>
  </ul>
</div>


<div class="product-list">
<h5>&#35; 댓글</h5><br/>
<li class="item">
  <div class="thumb">
    <div class="img">
      <span>
        {% for comment in comments_graph %}
        <td style="height: 350px;">{{ comment | safe }}</td>  
        {% endfor %} 
      </span>
    </div>
    
  </div>
  
  <dl class="detail">
    <dt>
      <div class="title-area">
        {% for comment in comments_write %}
        <div class="name" onclick="">{{ comment.name}}</div>
      </div>
      
        
       
</li>
          
        </ul>
      </div>
    </dt>


    <dd>
      <ul>
        <li>
          <div class="subject">댓글 내용</div>
          <div class="info">{{ comment.body }}</div>
        </li>
        
        </li>
      </ul>
    </dd>
  </dl>
</li>
{% endfor %}

</ul>

</div>

</div>



<!-- 댓글 전체 내용 -->
<div class="row mt-5">
  <div class="col-12">
      <div class="comment">
      <h5>&#35; 댓글</h5><br/>
      <!-- 직렬로 for문 돌림(페이지네이터 작동하고 높이 조절 이슈 있음.) -->
      <div class="table-container">
          <div class="table">
              <table>
                  <tr>
                      <th>그래프</th>
                  </tr>
                  {% for comment in comments_graph %}
                  <tr>    
                      <td style="height: 350px;">{{ comment | safe }}</td>    
                  </tr>
                  {% endfor %}
              </table>
          </div>
          
          <div class="table">
              <table>
                  <tr>
                      <th>코멘트</th>
                  </tr>
                  {% for comment in comments_write %}
                  <tr>
                      <td style="height: 350px;">{{ comment.name }}: {{ comment.body }}</td>
                  </tr>
                  {% endfor %}
              </table>
          </div>
        </div>   

      </div>        
  </div>
</div>
<hr/>
<div>



<!-- Pagination -->
{% if comments_write.has_other_pages %}
  <nav aria-label="Comment navigation">
    <ul class="pagination justify-content-center">
      {% if comments_write.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page=1" aria-label="First">
            <span aria-hidden="true">&laquo;&laquo;</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ comments_write.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {% endif %}

      {% for page in comments_write.paginator.page_range %}
        <li class="page-item {% if page == comments_write.number %}active{% endif %}">
          <a class="page-link" href="?page={{ page }}">{{ page }}</a>
        </li>
      {% endfor %}

      {% if comments_write.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ comments_write.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ comments_write.paginator.num_pages }}" aria-label="Last">
            <span aria-hidden="true">&raquo;&raquo;</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
</div>
<!-- 댓글 작성 폼 -->
<div class="row mt-5">
    <div class="col-12">
        <h3>Add a Comment</h3>
        <form method="POST">
            {% csrf_token %}
            {{comment_form.as_p}}
            <!-- models.py 데이터베이스(comment)의 인스턴스 변수로, forms.py를 거쳐 name과 body필드를 p태그로 감싸서 출력  -->
            <button type="submit" class="btn btn-primary">댓글작성</button>
        </form>
    </div>
</div>

<script>
    document.getElementById("copyButton").addEventListener("click", function() {
        // Get the value from the button's 'value' attribute
        var pagePath = this.value;

        // Create a temporary input element to hold the text
        var tempInput = document.createElement("input");
        tempInput.value = pagePath;

        // Append the input element to the body
        document.body.appendChild(tempInput);

        // Select the text inside the input element
        tempInput.select();

        // Copy the selected text to the clipboard
        document.execCommand("copy");

        // Remove the temporary input element
        document.body.removeChild(tempInput);

        // Optionally, provide feedback to the user
        alert("현재 페이지의 주소가 클립보드에 복사되었습니다.\n\n" + "주소: "+ pagePath);
    });
</script>
{% endblock %}




{% comment %} 
{% extends "base.html" %}
{% load humanize %}
{% block contents %}
<style>
    .table-container {
        display: flex;
        justify-content: space-between;
    }  
  </style>

<div class="row mt-5">
    <div class="col-12">
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <h5 class="card-title">{{ tal_detail.name }}</h5>
                <!-- 현재 전체 좋아요 합 -->
                <div>❤️ {{tal_detail.like}}</div>
                <!-- 클립보드 주소 복사 -->
                <button type="button" class="btn btn-success" id="copyButton" value="{{page_path}}">📋</button>
            </div>
            
            <li class="list-group-item">
                <!-- 즐겨찾기용 부분 -->
                <form action="/favorite/create" method="POST">
                    {% csrf_token %}                    
                    {% for field in form %}
                    <div class="form-group">
                        <input type="{{ field.field.widget.input_type }}" class="form-control" 
                        id="{{ field.id_for_label }}"  placeholder="{{ field.label }}" name="{{ field.name }}" 
                        value="{% if field.name == 'like' %}{{ '1' }}{% else %}{{tal_detail.id}}{% endif %}"/> 
                    </div>                       
                        {% if field.errors %}
                        <span style="color: red">{{ field.errors }}</span>
                        {% endif %}
                    
                    {% endfor %}                    
                    {% if search.like == 1 %}
                    <button type="submit" class="btn btn-warning">💔</button>
                    {% else %}
                    <button type="submit" class="btn btn-primary">❤️</button>
                    {% endif %}
                </form>
                <!-- 즐겨찾기용 부분 끝-->
            </li>
            <!-- 상세설명 부분 -->
            <ul class="list-group list-group-flush">
                <li class="list-group-item">제조사: {{ tal_detail.company }}</li>
                <li class="list-group-item">원재료: {{ tal_detail.mtrl }}</li>
                <li class="list-group-item">용량/도수: {{ tal_detail.std }}</li>
                <li class="list-group-item">상세설명: {{ tal_detail.dsc }}</li>        
                <li class="list-group-item"><img src="{{tal_detail.img}}" alt=""></li>                       
            </ul>
            <!-- 상세설명 평균그래프 부분 -->
            {{ graph_html | safe }}

        </div>
    </div>
</div>
<hr/>
<!-- 댓글 전체 내용 -->
<div class="row mt-5">
    <div class="col-12">
        <div class="comment">
        <h5>&#35; 댓글</h5><br/>
        <!-- 직렬로 for문 돌림(페이지네이터 작동하고 높이 조절 이슈 있음.) -->
        <div class="table-container">
            <div class="table">
                <table>
                    <tr>
                        <th>그래프</th>
                    </tr>
                    {% for comment in comments_graph %}
                    <tr>    
                        <td style="height: 350px;">{{ comment | safe }}</td>    
                    </tr>
                    {% endfor %}
                </table>
            </div>
            
            <div class="table">
                <table>
                    <tr>
                        <th>코멘트</th>
                    </tr>
                    {% for comment in comments_write %}
                    <tr>
                        <td style="height: 350px;">{{ comment.name }}: {{ comment.body }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
          </div>   

        </div>        
    </div>
</div>
<hr/>
<div>
<!-- Pagination -->
{% if comments_write.has_other_pages %}
  <nav aria-label="Comment navigation">
    <ul class="pagination justify-content-center">
      {% if comments_write.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page=1" aria-label="First">
            <span aria-hidden="true">&laquo;&laquo;</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ comments_write.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {% endif %}

      {% for page in comments_write.paginator.page_range %}
        <li class="page-item {% if page == comments_write.number %}active{% endif %}">
          <a class="page-link" href="?page={{ page }}">{{ page }}</a>
        </li>
      {% endfor %}

      {% if comments_write.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ comments_write.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ comments_write.paginator.num_pages }}" aria-label="Last">
            <span aria-hidden="true">&raquo;&raquo;</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
</div>
<!-- 댓글 작성 폼 -->
<div class="row mt-5">
    <div class="col-12">
        <h3>Add a Comment</h3>
        <form method="POST">
            {% csrf_token %}
            {{comment_form.as_p}}
            <!-- models.py 데이터베이스(comment)의 인스턴스 변수로, forms.py를 거쳐 name과 body필드를 p태그로 감싸서 출력  -->
            <button type="submit" class="btn btn-primary">댓글작성</button>
        </form>
    </div>
</div>

<script>
    document.getElementById("copyButton").addEventListener("click", function() {
        // Get the value from the button's 'value' attribute
        var pagePath = this.value;

        // Create a temporary input element to hold the text
        var tempInput = document.createElement("input");
        tempInput.value = pagePath;

        // Append the input element to the body
        document.body.appendChild(tempInput);

        // Select the text inside the input element
        tempInput.select();

        // Copy the selected text to the clipboard
        document.execCommand("copy");

        // Remove the temporary input element
        document.body.removeChild(tempInput);

        // Optionally, provide feedback to the user
        alert("현재 페이지의 주소가 클립보드에 복사되었습니다.\n\n" + "주소: "+ pagePath);
    });
</script>


{% endblock %} 

{% endcomment %}
