{% extends "base.html" %}
{% load humanize %}
{% block contents %}
<div class="row mt-5">
    <div class="col-12">
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <h5 class="card-title">{{ tal_detail.name }}</h5>
                <div>❤️ {{tal_detail.like}}</div>
                <div>{{page_path}}</div>
            </div>
            
            <li class="list-group-item">
                <!-- 즐겨찾기용 부분 -->
                <form action="/favorite/create" method="POST">
                    {% csrf_token %}                    
                    {% for field in form %}
                    <div class="form-group">
                        <input type="{{ field.field.widget.input_type }}" class="form-control" 
                        id="{{ field.id_for_label }}"  placeholder="{{ field.label }}" name="{{ field.name }}" 
                        value="{% if field.name == 'like' %}{{ '1' }}{% else %}{{tal_detail.id}}{% endif %}"/> 
                    </div>                       
                        {% if field.errors %}
                        <span style="color: red">{{ field.errors }}</span>
                        {% endif %}
                    
                    {% endfor %}                    
                    {% if search.like == 1 %}
                    <button type="submit" class="btn btn-warning">💔</button>
                    {% else %}
                    <button type="submit" class="btn btn-primary">❤️</button>
                    {% endif %}
                </form>
                <!-- 즐겨찾기용 부분 -->
            </li>
            
            <ul class="list-group list-group-flush">
                <li class="list-group-item">제조사: {{ tal_detail.company }}</li>
                <li class="list-group-item">원재료: {{ tal_detail.mtrl }}</li>
                <li class="list-group-item">용량/도수: {{ tal_detail.std }}</li>
                <li class="list-group-item">상세설명: {{ tal_detail.dsc }}</li>        
                <li class="list-group-item"><img src="{{tal_detail.img}}" alt=""></li>        
                
            </ul>
            {{ graph_html | safe }}

        </div>
    </div>
</div>
<hr/>
<div class="row mt-5">
    <div class="col-12">
        <div class="comment">
        <h5>&#35; 댓글</h5><br/>
        {% for comment, graph_comments in comments_and_graphs %}         
            
            <p class="comment-name">{{comment.name}} : {{comment.body}} </p>
            <p class="comment-score-group">색 : {{comment.color}} </p>
            <p class="comment-score-group">향 : {{comment.flavor}} </p>
            <p class="comment-score-group">당도 : {{comment.sweet}} </p>
            <p class="comment-score-group">산도 : {{comment.sour}} </p>
            <p class="comment-score-group">탄산감 : {{comment.carbon}} </p>
            <p class="comment-score-group">종합평가 : {{comment.total}} </p>
            {{ graph_comments | safe }}
            {% if email == comment.name.email %}
            <button type="button" class="btn btn-danger" onclick="location.href='/comment/delete/{{comment.id}}/'">삭제하기</button>
            <button type="button" class="btn btn-success" onclick="location.href='/comment/update/{{comment.id}}/'">수정하기</button>            
            {% endif %}
            

            <hr/>
        {% empty %}
            <p>아직 등록된 댓글이 없습니다.</p>
        {% endfor %}
            


        </div>        
    </div>
</div>
<hr/>
<div class="row mt-5">
    <div class="col-12">
        <h3>Add a Comment</h3>
        <form method="POST">
            {% csrf_token %}
            {{comment_form.as_p}}
            <!-- models.py 데이터베이스(comment)의 인스턴스 변수로, forms.py를 거쳐 name과 body필드를 p태그로 감싸서 출력  -->
            <button type="submit" class="btn btn-primary">댓글작성</button>
        </form>
    </div>
</div>
{% endblock %}