{% extends "base1.html" %}
{% load static %}
{% load humanize %}
{% block header %}

<link rel="stylesheet" type="text/css" href="{% static 'css/detail_new.css' %}">
<style>
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
       .rate { display: inline-block;border: 0;margin-right: 15px;}
.rate > input {display: none;}
.rate > label {float: right;color: #ddd}
.rate > label:before {display: inline-block;font-size: 1rem;padding: .3rem .2rem;margin: 0;cursor: pointer;font-family: FontAwesome;content: "\f005 ";}
.rate .half:before {content: "\f089 "; position: absolute;padding-right: 0;}
.rate input:checked ~ label, 
.rate label:hover,.rate label:hover ~ label { color: #f73c32 !important;  } 
.rate input:checked + .rate label:hover,
.rate input input:checked ~ label:hover,
.rate input:checked ~ .rate label:hover ~ label,  
.rate label:hover ~ input:checked ~ label { color: #f73c32 !important;  } 
</style>
{% endblock %} 
{% block contents %}

<div class="container">  
<h1 style="text-align: center; margin-bottom: 50px;">상세설명</h1>
<table border="0" style="width: 100%;">
  <tr>
    <td colspan="2" >
      <h3 style="text-align: left; display: inline;">{{ tal_detail.name }}</h3>  
      <div style="text-align: right; display: inline;">❤️ {{tal_detail.like}}</div>
      <hr>
    </td>
    
    <td>       
            <!-- 즐겨찾기용 부분 -->      
            <form action="/favorite/create" method="POST">
              {% csrf_token %}                    
              {% for field in form %}
                <div class="form-group">
                  <input type="{{ field.field.widget.input_type }}" class="form-control" 
                  id="{{ field.id_for_label }}"  placeholder="{{ field.label }}" name="{{ field.name }}" 
                  value="{% if field.name == 'like' %}{{ '1' }}{% else %}{{tal_detail.id}}{% endif %}"/> 
                </div>                       
                {% endfor %}
                <div class="float-right">
                  {% if search.like == 1 %}
                  <button type="submit" class="btn btn-warning" style="text-align: right; display: inline;">💔</button>
                  {% else %}
                  <button type="submit" class="btn btn-primary" style="text-align: right; display: inline;">❤️</button>
                  {% endif %}
                  <!-- 클립보드 주소 복사 -->
                  <button type="button" class="btn btn-success" id="copyButton" value="{{page_path}}" style="text-align: right; display: inline;">📋 </button>
                  <a href="https://search.shopping.naver.com/search/all?query={{ tal_detail.name }} {{ tal_detail.company }}"><button type="button" class="btn btn-danger" style="text-align: right; display: inline;">가격 검색</button></a>
                </div>
              </form>
              <!-- 즐겨찾기용 부분 끝-->
    </td>
  </tr>

  <tr>

    <td style="width: 200px; height: 300px; object-fit: contain; text-align: center;"><img src="{{tal_detail.img}}" alt="" style="height: 250px;"></td>

    <td style="width: 620px; height: 300px;">
      <table class="small_table" style="width: 100%;" border="0">        
          <tr>
            <td style="width: 20%;vertical-align: top;">제조사 </td>
            <td style="vertical-align: top;"> | {{ tal_detail.company }}</td>            
          </tr>
          <tr>
            <td style="width: 20%;vertical-align: top;">원재료</td>
            <td style="vertical-align: top;"> | {{ tal_detail.mtrl }}</td>            
          </tr>        
          <tr>
            <td style="width: 20%;vertical-align: top;">용량/도수</td>
            <td style="vertical-align: top;"> | {{ tal_detail.std }}</td>            
          </tr>        
          <tr>
            <td style="width: 20%;vertical-align: top;">상세설명</td>
            <td style="vertical-align: top;">{{ tal_detail.dsc }}</td>            
          </tr>                
      </table>
    </td>

    <td class="td_graph" style="width: 300px; height: 300px;">{{ graph_html | safe }}</td>

  </tr>
</table>
</div>

<!-- 댓글 전체 내용 -->
<div class="row mt-5">
  <div class="col-12">
    <div class="comment">
      <h5>&#35; 댓글</h5>
      <br/>
      <!-- 직렬로 for문 돌림(페이지네이터 작동하고 높이 조절 이슈 있음.) -->

      <div class="table-container" style="display: flex; justify-content: space-between;">
        <div class="left-side" style="width: 50%;">
          <h5>그래프</h5>
          <table class="comment_table">
            {% for comment in comments_graph %}
            <tr>    
                <td style="height: 350px;">{{ comment | safe }}</td>    
            </tr>
            {% endfor %}
          </table>
        </div>

        <div class="right-side" style="width: 50%;">
          <h5>코멘트</h5>
          <table class="comment_table">
            {% for comment in comments_write %}
            <tr>
              <td style="height: 350px;">
                {{ comment.name }}
                <br>
                <br>
                {{ comment.body }}
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>

    </div>        
  </div>
</div>
<hr/>
<div>
<!-- Pagination -->
{% if comments_write.has_other_pages %}
  <nav aria-label="Comment navigation">
    <ul class="pagination justify-content-center">
      {% if comments_write.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page=1" aria-label="First">
            <span aria-hidden="true">&laquo;&laquo;</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ comments_write.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {% endif %}

      {% for page in comments_write.paginator.page_range %}
        <li class="page-item {% if page == comments_write.number %}active{% endif %}">
          <a class="page-link" href="?page={{ page }}">{{ page }}</a>
        </li>
      {% endfor %}

      {% if comments_write.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ comments_write.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ comments_write.paginator.num_pages }}" aria-label="Last">
            <span aria-hidden="true">&raquo;&raquo;</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
</div>
<!-- 댓글 작성 폼 -->
<div class="row mt-5">
  <div class="col-12">
    <form method="POST">
      {% csrf_token %}
      <div class="table-container" style="display: flex; justify-content: space-between;">
        <div class="left-side" style="width:50%;">
          <br>
          <h3>댓글 작성</h3>
          <br>
          <p>{{ comment_form.body }}</p>
          <div class="float-right">
            <button type="submit" class="btn btn-primary">댓글작성</button>
          </div>
        </div>
        <div class="right-side" style="width:60%;">
          <table class="comment_table">
            <tr>
              <td>색</td>
              <td>                
                <div id="id_color">
                  <fieldset class="rate">
                    <input type="radio" id="id_color_4" name="color" value="5"><label for="id_color_4" title="5점"></label>                
                    <input type="radio" id="id_color_3" name="color" value="4"><label for="id_color_3" title="4점"></label>                  
                    <input type="radio" id="id_color_2" name="color" value="3"><label for="id_color_2" title="3점"></label>                  
                    <input type="radio" id="id_color_1" name="color" value="2"><label for="id_color_1" title="2점"></label>                  
                    <input type="radio" id="id_color_0" name="color" value="1"><label for="id_color_0" title="1점"></label>                  
                  </fieldset>
                </div>
              </td>
            </tr>
            <tr>
              <td>탄산감</td>
              <td>
                <div id="id_carbon">
                  <fieldset class="rate">
                    <input type="radio" id="id_carbon_4" name="carbon" value="5"><label for="id_carbon_4" title="5점"></label>                
                    <input type="radio" id="id_carbon_3" name="carbon" value="4"><label for="id_carbon_3" title="4점"></label>                  
                    <input type="radio" id="id_carbon_2" name="carbon" value="3"><label for="id_carbon_2" title="3점"></label>                  
                    <input type="radio" id="id_carbon_1" name="carbon" value="2"><label for="id_carbon_1" title="2점"></label>                  
                    <input type="radio" id="id_carbon_0" name="carbon" value="1"><label for="id_carbon_0" title="1점"></label>                  
                  </fieldset>
                </div>
              </td>
            </tr>
            <tr>
              <td>향</td>
              <td>
                <div id="id_flavor">
                  <fieldset class="rate">
                    <input type="radio" id="id_flavor_4" name="flavor" value="5"><label for="id_flavor_4" title="5점"></label>                
                    <input type="radio" id="id_flavor_3" name="flavor" value="4"><label for="id_flavor_3" title="4점"></label>                  
                    <input type="radio" id="id_flavor_2" name="flavor" value="3"><label for="id_flavor_2" title="3점"></label>                  
                    <input type="radio" id="id_flavor_1" name="flavor" value="2"><label for="id_flavor_1" title="2점"></label>                  
                    <input type="radio" id="id_flavor_0" name="flavor" value="1"><label for="id_flavor_0" title="1점"></label>                  
                  </fieldset>
                </div>
              </td>
            </tr>
            <tr>
              <td>산미</td>
              <td>
                <div id="id_sour">
                  <fieldset class="rate">
                    <input type="radio" id="id_sour_4" name="sour" value="5"><label for="id_sour_4" title="5점"></label>                
                    <input type="radio" id="id_sour_3" name="sour" value="4"><label for="id_sour_3" title="4점"></label>                  
                    <input type="radio" id="id_sour_2" name="sour" value="3"><label for="id_sour_2" title="3점"></label>                  
                    <input type="radio" id="id_sour_1" name="sour" value="2"><label for="id_sour_1" title="2점"></label>                  
                    <input type="radio" id="id_sour_0" name="sour" value="1"><label for="id_sour_0" title="1점"></label>                  
                  </fieldset>
                </div>
              </td>
            </tr>
            <tr>
              <td>당도</td>
              <td>
                <div id="id_sweet">
                  <fieldset class="rate">
                    <input type="radio" id="id_sweet_4" name="sweet" value="5"><label for="id_sweet_4" title="5점"></label>                
                    <input type="radio" id="id_sweet_3" name="sweet" value="4"><label for="id_sweet_3" title="4점"></label>                  
                    <input type="radio" id="id_sweet_2" name="sweet" value="3"><label for="id_sweet_2" title="3점"></label>                  
                    <input type="radio" id="id_sweet_1" name="sweet" value="2"><label for="id_sweet_1" title="2점"></label>                  
                    <input type="radio" id="id_sweet_0" name="sweet" value="1"><label for="id_sweet_0" title="1점"></label>                  
                  </fieldset>
                </div>
              </td>
            </tr>
            <tr>
              <td>종합평가</td>
              <td>                
                <div id="id_total">
                  <fieldset class="rate">
                    <input type="radio" id="id_total_4" name="total" value="5"><label for="id_total_4" title="5점"></label>                
                    <input type="radio" id="id_total_3" name="total" value="4"><label for="id_total_3" title="4점"></label>                  
                    <input type="radio" id="id_total_2" name="total" value="3"><label for="id_total_2" title="3점"></label>                  
                    <input type="radio" id="id_total_1" name="total" value="2"><label for="id_total_1" title="2점"></label>                  
                    <input type="radio" id="id_total_0" name="total" value="1"><label for="id_total_0" title="1점"></label>                  
                  </fieldset>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </form>
  </div>
</div>
<div style="height: 150px;"></div>

<script>
  document.getElementById("copyButton").addEventListener("click", function() {
      // Get the value from the button's 'value' attribute
      var pagePath = this.value;

      // Create a temporary input element to hold the text
      var tempInput = document.createElement("input");
      tempInput.value = pagePath;

      // Append the input element to the body
      document.body.appendChild(tempInput);

      // Select the text inside the input element
      tempInput.select();

      // Copy the selected text to the clipboard
      document.execCommand("copy");

      // Remove the temporary input element
      document.body.removeChild(tempInput);

      // Optionally, provide feedback to the user
      alert("현재 페이지의 주소가 클립보드에 복사되었습니다.\n\n" + "주소: "+ pagePath);
  });
</script>
{% endblock %} 