.radio-group {
    text-align: center;
}

tr > td > div > div {
    display: inline-block;
    margin-right: 20px;
    width: 40px;
}

tbody > tr > td:nth-child(1) {
    width: 35%;
    font-size: 20px;
}

table td {
    height: 60px; /* 적절한 높이 값으로 변경하세요 */
}

/* 색, 향, 탄산, 산미, 당도 관련 폼 요소 스타일 */
.form-group {
    margin-bottom: 20px;
}

/* 버튼 스타일 */
button[type="submit"] {
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="button"] {
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
