{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{% static '/css/navbar.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>    
    <script type="text/javascript" src="/static/nav.js"></script>
    
{% block header %}
{% endblock %}
</head>

<body>
    <div class="nav-bar">
        <div class="nav-left">
          <!-- 왼쪽에 위치할 요소들 -->
          <a href="/"><img src="{% static '/logo2.png' %}"></a>
          <a href="/">SoolPan</a>
        </div>
        <div class="nav-right">
          <!-- 오른쪽에 위치할 요소들 -->
          <a href="/product">주류평가</a>
          <a href="/imgboard1/">커뮤니티</a>
          <a href="/recommend/">추천서비스</a>
          <a href="#">포럼</a>
          {% if request.session.user %}
          <a href="/favorite/">나의 주막</a>
          <a href="/logout/">로그아웃</a>
          {% else %}
          <a href="/login/">로그인</a>          
          <a href="/register/">회원가입</a>
          {% endif %}
        </div>
      </div>
    
    <div class="container">
        {% block contents %}
        {% endblock %}
    </div>
</body>

</html>



