{% extends "base1.html" %}

{% load static %}
{% load humanize %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'css/fav_list.css' %}">
{% endblock %}
{% block contents %}

<div class="container mt-5">
    <div class="row">
        {% for fav in fav_list %}
        <!-- 각각의 제품 카드 표시 -->
        <div class="col-md-3 mb-4">
            <div class="card">
                <a href="/detail/{{fav.post_id}}/">
                    <img src="{{fav.post.img}}" class="card-img-top" alt="{{ fav.post }}">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a href="/detail/{{fav.post_id}}/">{{ fav.post }}</a></h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
        
    <div class="pagination mt-3">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1" class="page-button">&laquo;⏪</a>
                <!-- <a href="?page={{ page_obj.previous_page_number }}" class="page-button">⬅️</a> -->
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="page-button">➡️</a>
                <!-- <a href="?page={{ page_obj.paginator.num_pages }}" class="page-button">⏩&raquo;</a> -->
            {% endif %}
        </span>
    </div>
    {# 챗봇 템플릿을 포함하여 사용 #}
    
{% endblock %}