{% extends "base1.html" %}
{% load humanize %}
{% load static %}
{% block header %}
<style>
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 세로 중앙 정렬을 위해 */
    background-image: url('/static/막걸리_사진5.jpg'); /* 원하는 배경 이미지로 변경 */
    background-size: cover;
    /* background-repeat: no-repeat; 이미지 반복 방지 */
    background-position: center;
}

    </style>
{% endblock %}
{% block contents %}
<div class="row mt-5">
    <div class="col-12">
        <table class="table table-light">
            <thead class="thead-light">
                <tr>
                    <!--scope="col" : 헤더 셀이 어떤 테이블 셀을 명시함 -->
                    <th scope="col">제품명</th>
                    <th scope="col">제조사</th>
                    <th scope="col">원재료</th>
                    <th scope="col">용량/도수</th>
                    <th scope="col">상세설명</th>
                    <th scope="col">이미지</th>
                </tr>
            </thead>
            <tbody class="text-dark">
                {% for product in product_list %}
                <tr>
                    <th><a id="product-{{product.id}}" href="/detail/{{ product.id }}">{{ product.name }}</a></th>
                    <th>{{ product.company }}</th>
                    <th>{{ product.mtrl }}</th>
                    <th>{{ product.std }}</th>
                    <th>{{ product.dsc }}</th>
                    <th><img src="{{product.img}}" alt="" style="height: 200;"></th>
                </tr>
                {% endfor %}
                <!-- 페이지네이션 표시 -->
            </tbody>
        </table>

        
        <div>
            <form method="GET" action="{% url 'product_list' %}">
                {% csrf_token %}      
                <input type="text" name="search_query" placeholder="검색어를 입력하세요">
                <button type="submit">검색</button>
            </form>
        </div>


        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>

    </div>
</div>
{% endblock %}