{% extends "base1.html" %}
{% load humanize %}
{% load static %}
{% block header %}

<link rel="stylesheet" type="text/css" href="{% static 'css/detail_layout.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/detail_respond.css' %}">

<style>
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 세로 중앙 정렬을 위해 */
    /* background-image: url('/static/막걸리_사진5.jpg'); 원하는 배경 이미지로 변경 */
    background-size: cover;
    /* background-repeat: no-repeat; 이미지 반복 방지 */
    background-position: center;
}

/* Pagination styling */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 16px;
}

.pagination a,
.pagination span.current {
    padding: 3px 8px;
    /* border: 1px solid #ccc; */
    text-decoration: none;
    color: #333;
    margin: 0 3px;
    transition: background-color 0.3s ease;
}

.pagination a{
    font-size: 20;
    padding: 0;
    margin: 0,0,0,0;    

}
/* .pagination a:hover {
    background-color: #f5f5f5;
} */

.pagination span.current {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.pagination a.disabled {
    pointer-events: none;
    color: #999;
    background-color: #f5f5f5;
    border-color: #f5f5f5;
}

.page-button{
    padding-top: 10px;
}

.row{
  position: absolute;
  top: 5%;
}
    </style>
{% endblock %}

{% block contents %}
<div class="row mt-5">
    <div >
        <div id="content">
            <div class="inner">
              <h2 class="title">주류 리스트</h2>
            <div class="tab-content">
            <div id="tab1">
              <div class="product-list">
                {% for product in product_list %}
                <ul>
                  <li class="item">
                    <td>
                      <div class="thumb">
                        <div class="img">
                          <span>
                            <img src="{{product.img}}" alt="" style="height: 200;">
                          </span>
                        </div>
                      </div>
                    </td>
                    <td>
                      <dl class="detail">
                        <dt>
                          <div class="title-area">
                              <div id="product-{{product.id}}">
                                  <a href="/detail/{{ product.id }}">{{ product.name }}</a>
                              </div>
                          </div>
                          <div class="label-list">
                            <ul>
                              <li>❤️ {{product.like}}</li>
                            </ul>
                          </div>
                        </dt>
                        <dd>
                          <ul>
                            <li>
                              <div class="subject">제조사</div>
                              <div class="info">{{ product.company }}</div>
                            </li>
                            <li>
                              <div class="subject">주원료</div>
                              <div class="info"> {{ product.mtrl }}</div>
                            </li>
                            <li>
                              <div class="subject">용량/도수</div>
                              <div class="info">  {{ product.std }} </div>
                            </li>
                            <li>
                              <div class="subject">제품특징</div>
                              <div class="info no-line">
                                <span class="el-3line">
                                  {{ product.dsc }}
                                </span>
                              </div>
                            </li>
                          </ul>
                        </dd>
                      </dl>
                    </td>
                  </li>
                </ul>
                {% endfor %}
              </div>
            </div>
        </div>
        
        <div>
            <form method="GET" action="{% url 'product_list' %}">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" name="search_query" placeholder="검색어를 입력하세요"> 
                    <input type="submit" class="btn btn-success" value="검색">
                </div>
            </form>
        </div>
        
        <div class="pagination mt-3">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1" class="page-button">⏪</a>
                    <a href="?page={{ page_obj.previous_page_number }}" class="page-button">⬅️</a>
                {% endif %}
    
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
    
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="page-button">➡️</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}" class="page-button">⏩</a>
                {% endif %}
            </span>
        </div>

    </div>
</div>
{% endblock %}